<p id="notice"><%= notice %></p>

<p>
  <strong>Lang a:</strong>
  <%= @language.lang_a %>
</p>

<p>
  <strong>Lang b:</strong>
  <%= @language.lang_b %>
</p>

<%= link_to 'Edit', edit_language_path(@language) %> |
<%= link_to 'Back', languages_path %>
