<table class="table table-striped">
  <th><%= @language.lang_a.titleize %></th> 
  <th><%= @language.lang_b.titleize %></th>
  <th>Action</th>
<% @words.each do |word| %>
<tr>
  <td><%= word.word_a %></td>
  <td><%= word.word_b %></td>
  <td><%= link_to 'Delete', word_path(word), method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>
<% end %>
</table>
<h4>New word</h4>
<%= render 'words/form' %>

<%= link_to 'Edit', edit_language_path(@language), class: "btn btn-default" %>
<%= link_to 'Back', languages_path, class: "btn btn-default" %>
